<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>523223543159-172ubq5ahlchpv9e067ke378rn0piokn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523223543159-172ubq5ahlchpv9e067ke378rn0piokn</string>
	<key>API_KEY</key>
	<string>AIzaSyBcA3DyHEUS83mrd3-pZn2ry-TwPm7Q-0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>523223543159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamgrit.Bromance</string>
	<key>PROJECT_ID</key>
	<string>bromance-e91d8</string>
	<key>STORAGE_BUCKET</key>
	<string>bromance-e91d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:523223543159:ios:0ff0a04e7333f10a</string>
	<key>DATABASE_URL</key>
	<string>https://bromance-e91d8.firebaseio.com</string>
</dict>
</plist>